# Usa la URL pública externa (External/Public connection) de Railway
DATABASE_PUBLIC_URL=postgresql://postgres:TU_PASSWORD@containers-xx-xx-xx.railway.app:TU_PUERTO/railway

# Si usas DATABASE_PUBLIC_URL o DATABASE_URL, las variables DB_* se ignoran.
JWT_SECRET=clave_secreta_para_jwt
PORT=4000